name: Docker Build

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Próba zbudowania usług zdefiniowanych w docker-compose
      - name: Build Docker Compose services
        run: docker compose -f docker-compose.yaml build